/*Basic text*/
p,
div {
  color: $grey;
  font-size: 14px;
  text-align: left;
}

h1 {
  color: $black;
  font-size: 22px;
  font-weight: 600;
}

a {
  color: $dark-blue;
  font-weight: 600;
  text-decoration: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $grey-light;
  opacity: 1; /* Firefox */
  font-style: italic;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $grey-light;
  font-style: italic;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $grey-light;
  font-style: italic;
}

.rc-tooltip {
  position: absolute;
}
