.u-margin {
  margin: $spacer !important;
}

.u-bottom {
  margin-bottom: $spacer !important;
}

.u-top {
  margin-top: $spacer !important;
}

.u-double-top {
  margin-top: $spacer-double !important;
}

.u-left {
  margin-left: $spacer !important;
}

.u-right {
  margin-right: $spacer !important;
}

.u-margin-bottom {
  margin-bottom: $spacer;
}

.u-margin-bottom-small {
  margin-bottom: $spacer-quart !important;
}

.u-flex {
  display: flex;
}

.u-flex-center {
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.u-flex-space {
  display: flex;
  justify-content: space-around;
}

.u-flex-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
}

.u-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.u-given-width {
  width: 150px;
  min-width: 150px;
}

.u-padding {
  padding: $spacer !important;
}

.u-padding-half-full {
  padding: $spacer-half $spacer !important;
}

.u-clickable {
  cursor: pointer;
}
