@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700');

$ff: 'Montserrat', sans-serif;

$spacer: 20px;
$spacer-half: $spacer * 0.5;
$spacer-third: 7px;
$spacer-quart: $spacer * 0.25;
$spacer-double: $spacer * 2;

$white: #ffffff;
$grey: #7d909b;
$grey-light: #a7bdc4;
$grey-light2: #f0f0f0;
$black: #383838;
$light-blue: #f4fafc;
$blue: #4cb9f8;
$dark-blue: #26aaf7;
$orange-light: #fff4ea;
$orange: #ff8c17;
$red-light: #ffebeb;
$red: #ff545b;
$green-light: #d9f8db;
$green: #00ac0d;
$primary-green: #5adbbd;
